* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

.input-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    label {
        text-transform: uppercase;
        color: #8f989e;
        font-size: 11px;
        position: relative;
        white-space: nowrap;
        span {
            color: #b30000;
            font-size: 13px;
            margin-left: 3px;
        }
    }
}

.input-error {
    font-size: 11px;
    margin-bottom: 2px;
    text-align: left;
    color: #fe2a14;
    display: inline-block;
}

.input-wrap {
    margin-bottom: 20px;
}

input {
    border: 1px solid #e5e5e5;
    padding: 8px 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    padding: 9px 15px;
    text-align: center;
    border: none;
    display: block;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    &.primary {
        background-color: #1f8ca0;
    }
    &.is-disabled {
        background-color: #e6e6e6 !important;
        color: #000 !important;
        cursor: default !important;
    }
    &.cancel {
        min-width: auto !important;
        background: none;
        color: #b30000;
        &:hover {
            text-decoration: underline;
        }
    }
}

.simple-notification-wrapper {
    z-index: 99999 !important;
  }
  
  simple-notification {
    .simple-notification {
      min-height: auto;
      .sn-title {
        line-height: 21px;
        font-size: 17px;
        padding-right: 30px;
      }
      .sn-content {
        font-size: 13px;
        padding-right: 30px;
      }
      .icon {
        width: 50px;
        height: 50px;
        top: 6px;
      }
      .sn-progress-loader {
        height: 3px;
      }
    }
  }