.admin-header {
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    box-shadow: 0 0 11px rgba(0,0,0,.1);
    h1 {
        font-size: 19px;
    }
    .logout {
        font-size: 14px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-top: 30px;
    color: #000;
    form {
        margin-top: 15px;
        .input-wrap {
            max-width: 400px;
        }
    }
    .buttons-wrap {
        display: flex;
        .button {
            min-width: 150px;
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    form {
        margin: 20px;
        padding: 30px;
        box-sizing: border-box;
        width: 100%;
        max-width: 400px;
    }
    .buttons-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .button {
            width: 100%;
            &.cancel {
                width: auto;
                margin-top: 20px;
            }
        }
    }
}

.login-errors {
    margin-bottom: 10px;
}