<!-- <ng-container *ngIf="authToken; else login"> -->
  <div class="admin-header">
    <h1>Welcome, admin</h1>
    <!-- <div class="logout" (click)="onLogout()">Logout</div> -->
  </div>
  <div class="content">
    <h2>Configs</h2>
    <form [formGroup]="configForm" novalidate>
      <div class="input-wrap">
        <div class="input-title">
          <label for="link">Data link<span>*</span></label>
        </div>
        <div class="input-error" *ngIf="configForm.get('dataLink').hasError('required') && configForm.get('dataLink').touched">Data link is required field.</div>
        <input type="text" id="link" formControlName="dataLink">
      </div>
      <div class="buttons-wrap">
        <button class="button primary" [class.is-disabled]="configForm.invalid" [disabled]="configForm.invalid" (click)="onUpdateConfigs()">Update</button>
        <button class="button cancel">Cancel</button>
      </div>
    </form>
  </div>
<!-- </ng-container>

<ng-template #login>
  <div class="form-wrap">
    <form [formGroup]="loginForm" novalidate>
      <div class="login-errors" *ngFor="let error of loginErrors">
        <div class="input-error">{{ error }}</div>
      </div>
      <div class="input-wrap">
        <div class="input-title">
          <label for="email">Email<span>*</span></label>
        </div>
        <div class="input-error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">Email is required field.</div>
        <div class="input-error" *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched">Email is invalid.</div>
        
        <input id="email" type="email" formControlName="email">
      </div>
      <div class="input-wrap">
        <div class="input-title">
          <label for="password">Password<span>*</span></label>
        </div>
        <div class="input-error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Password is required field.</div>
        <input id="password" type="password" formControlName="password">
      </div>
      <div class="buttons-wrap">
        <button class="button primary" (click)="onLogin()">Log in</button>
        <button class="button cancel" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template> -->