.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 36px;
    line-height: 28px;
    background-color: rgba(1,0,52,.8);
    &:before {
        content: "";
        background-image: url('/assets/img/background.jpeg');
        background-position: center center;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; 
    }
}

header {
    width: 100%;
    min-height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
        font-size: 98px;
        text-transform: uppercase;
    }
    .today {
        position: absolute;
        font-weight: bold;
        right: 20px;
        line-height: 34px;
        padding-right: 4%;
        text-align: center;
        .date {
            font-size: 21px;
            text-transform: uppercase;
        }
        .time {
            font-size: 44px;
        }
    }
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.left-block,
.right-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        min-height: 117px;
        font-size: 53px;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-transform: uppercase;
    }
    .list {
        flex-grow: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        .item {
            text-align: center;
            margin-top: 5px;
            min-height: 166px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 8%;
            box-sizing: border-box;
            line-height: 45px;
            padding-right: 5%;
            .name {
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                text-align: left;
            }
            .info {
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

.left-block {
    .title {
        background-color: #0063bf;
    }
    .list {
        .item {
            background-color: rgba(0,99,191,.5)
        }
    }
}

.right-block {
    .title {
        background-color: #de1a32;
    }
    .list {
        .item {
            background-color: rgba(222,26,50,.5);
        }
    }
}