<div class="wrapper">
  <header>
    <h1>Big Bear Ice Arena, LLC</h1>
    <div class="today">
      <div class="date">{{ today | date: 'EEEE M/d/y' }}</div>
      <div class="time">{{ today | date: 'hh:mm aa' }}</div>
    </div>
  </header>
  <div class="content">
    <div class="left-block">
      <div class="title">North Rink</div>
      <div class="list">
        <div class="item" *ngFor="let item of north" [@slide]="item.state"  (@slide.done)="animationNorthEnd()">
          <div class="name">{{ item.name }}</div>
          <!-- <div class="info">{{ item.from }} </div> -->
          <div class="info">{{ item.from | date: 'EEE' }} <span>{{ item.from  | date: 'hh:mm aa' }} - {{ item.to | date: 'hh:mm aa' }}</span></div> 
          <div class="locker" *ngIf="item.lockerRoom">Locker room: {{ item.lockerRoom }}</div>
        </div>
      </div>
    </div>
    <div class="right-block">
      <div class="title">South Rink</div>
      <div class="list">
        <div class="item" *ngFor="let item of south" [@slide]="item.state" (@slide.done)="animationSouthEnd()">
          <div class="name">{{ item.name }}</div>
          <!-- <div class="info">{{ item.from }} </div> -->
           <div class="info">{{ item.from  | date: 'EEE' }} <span>{{ item.from | date: 'hh:mm aa' }} - {{ item.to | date: 'hh:mm aa' }}</span></div> 
          <div class="locker" *ngIf="item.lockerRoom">Locker room: {{ item.lockerRoom }}</div>
        </div>
      </div>
    </div>
  </div>
</div>